@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
$nav-1: 1.3vw;
$content-1: 1.5vw;
$sub-content-1: 1.3vw;
$content-2: 1.5vw;
$content-3: 3vw;
$header-1: 4vw;
$sub-header: 3vw;
$header-2: 3.5vw;
$header-3: 4vw;
$color-1: #1330f2;
$color-2: #7429c1;
$font-dark: rgb(31, 31, 31);
$font-light: rgb(255, 255, 255);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.my-container {
  margin-left: 10%;
  margin-right: 10%;
}
.nav-bar {
  height: 6.5vw;
  top: 0;
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 1vw 0;
  background-color: white;
  box-shadow: 0px 6px 15px rgb(201, 198, 198);

  .content {
    max-width: 95vw;
    margin: 0.55vw;
    font-size: $nav-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      margin-left: 5%;
      img {
        width: 5vw;
        height: 5vw;
        margin-top: -0.5vw;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: rotate(20deg);
        }
      }
    }
    .menu-list {
      margin-left: 20vw;
      display: inline-flex;
      margin-top: 0.8vw;
      margin-bottom: auto;
      li {
        list-style-type: none;
        a {
          color: $font-dark;
          text-decoration: none;
          margin-left: 2.5vw;
          transition: all 0.3s ease;
          cursor: pointer;

          &:hover {
            color: $color-1;
          }
        }
      }
    }
  }

  .icon {
    margin-top: 1%;
    color: $font-dark;
    font-size: 5vw;
    cursor: pointer;
    display: none;
    margin-right: 5%;
  }

  .icon.cancel-btn {
    position: absolute;
    left: 3vw;
    top: 2vw;
  }
  .icon.menu-btn {
    position: absolute;
    right: 3vw;
    top: 0;
  }
}

main {
  margin-top: 10%;
  .sec-1 {
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .content {
      h1 {
        font-size: $header-1;
        font-weight: bold;
        color: white;
      }
      h2 {
        text-align: justify;

        margin-top: 5%;
        font-size: $content-1;
        color: white;
        line-height: 2.5vw;
      }
      .img-box {
        position: relative;
        img {
          height: 40vw;
          width: 31vw;
          right: 0;
          position: absolute;
        }
      }
      .buttons {
        margin-top: 5%;
        a {
          text-decoration: none;
          font-size: $content-1;
          &:nth-of-type(1) {
            color: $color-2;
            background-color: white;
            padding: 1vw 2vw;
            border-radius: 2vw;
            transition: all 0.3s ease-in-out;
            i {
              color: $color-2;
            }
            &:hover {
              color: white;
              background-color: #48147c;
              border-radius: 1vw;
              i {
                color: white;
              }
            }
          }
          &:nth-of-type(2) {
            margin-left: 5%;
            color: white;
            background-color: #48147c;

            padding: 1vw 2vw;
            border-radius: 2vw;
            transition: all 0.3s ease-in-out;
            i {
              color: $color-2;
            }
            &:hover {
              color: #48147c;
              background-color: white;
              border-radius: 1vw;
            }
          }
        }
      }
    }
  }
  .staking-app {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    box-shadow: 0vw 0.5vw 1vw #9d63d8;
    padding: 2vw 2vw;
    border-radius: 2vw;
    background-color: $color-2;

    h1 {
      text-align: center;
      font-weight: bold;
      font-size: 3vw;
      color: white;
    }
    .content {
      margin-top: 5%;
      img {
        height: 30vw;
        width: 40vw;
      }
      video {
        width: 40vw;
        height: 30vw;
      }
    }
  }
  .sec-2 {
    margin-top: 10%;
    .content {
      .image-box {
        img {
          height: 40vw;
          width: 31vw;
          transition: all 0.3s ease-in-out;
          &:hover {
            height: 41vw;
            width: 32vw;
          }
        }
      }
      .desc {
        text-align: center;
        h1 {
          font-size: $sub-header;
          font-weight: bold;
          margin-bottom: 5%;
          color: $color-2;
        }
        p {
          text-align: justify;
          font-size: $sub-content-1;
          i {
            color: $color-2;
            font-size: 1.5vw;
          }
          &:nth-of-type(1) {
            margin-bottom: 5%;
          }
        }
      }
      .solution {
        margin-top: 15%;
      }
      .features {
        margin-top: 15%;

        h1 {
          text-align: center;
          color: $color-2;
          font-size: $sub-header;
          font-weight: bold;
        }
        .block-1,
        .block-2,
        .block-3,
        .block-4,
        .block-5,
        .block-6,
        .block-7 {
          margin-top: 10%;
          width: 22vw;
          margin-left: 5%;
          box-shadow: 0vw 0.5vw 1vw #9d63d8;
          padding: 1vw 2vw;
          border-radius: 2vw;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          &:hover {
            transform: translateY(-1vw);
          }

          h1 {
            font-size: 1.3vw;
          }
          p {
            margin-top: 5%;
            font-size: 1vw;
            text-align: justify;
          }
        }
        .block-7 {
          margin-top: 5%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .sec-3 {
    margin-top: 15%;
    h1 {
      margin-bottom: 5%;
      font-size: $sub-header;
      color: $color-2;
      text-align: center;
      font-weight: bold;
    }
    .image-box {
      img {
        position: relative;
        top: -8vw;
        right: 10vw;
        height: 70vw;
        width: 60vw;
        transition: all 0.3s ease-in-out;
        margin-bottom: -97%;
      }
      .image-desc {
        display: flex;
        .desc,
        .ticker,
        .total,
        .net {
          border-left: 0.5vw solid $color-2;
          width: 20vw;
          padding-left: 0.5vw;
          p {
            font-size: 1vw;
            &:nth-of-type(1) {
              font-weight: bold;
            }
          }
        }
      }
    }
    .desc-box {
      padding-left: 20%;

      .desc {
        border-left: 0.5vw solid $color-2;
        width: 20vw;
        padding-left: 0.5vw;
        margin-bottom: 5%;
        p {
          font-size: 1vw;
          &:nth-of-type(1) {
            font-weight: bold;
          }
        }
      }
    }
    .roadmap {
      height: 80vw;
      margin-top: 15%;

      img {
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
        height: 70vw;
      }
    }
  }
}

footer {
  height: 10vw;
  background-color: $color-2;
  display: flex;
  align-items: center;
  width: 100%;
  .content {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    span {
      color: white;
      font-size: 2.5vw;
      font-weight: bold;
    }
    .links {
      position: relative;
      left: 24vw;
      width: 40vw;
      display: flex;
      justify-content: space-around;
      i {
        cursor: pointer;
        color: white;
        font-size: 4vw;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: rgb(184, 183, 183);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .my-container {
    margin-left: 7%;
    margin-right: 7%;
  }
  .nav-bar {
    height: 10vw;
    .content {
      .logo {
        margin-top: 1%;
        width: 40vw;
        height: 6vw;
        span {
          font-size: 3vw;
        }
      }
      .menu-list {
        position: fixed;
        top: 0;
        right: -100%;
        height: 500vw;
        width: 100%;
        max-width: 30vw;
        background-color: white;
        display: block;
        padding: 10vw 0;
        text-align: center;
        transition: all 0.3s ease;
        li {
          margin-bottom: 30%;
          a {
            font-size: 3vw;
          }
          .cta {
            color: white;
            background-color: $color-1;
            padding: 1vw 2vw;
            border-radius: 2vw;
            transition: all 0.3s ease;
            &:hover {
              color: $color-1;
              background-color: white;
              border: 0.1vw solid $color-1;
              box-shadow: 0vw 0.5vw 1vw rgb(158, 158, 158);
            }
          }
        }
      }
      .menu-list.active {
        right: 0;
      }
    }
    .icon {
      margin-top: 2.5%;
      display: block;
    }
  }
  main {
    overflow-x: hidden;
    margin-top: 15%;
    .sec-1 {
      .content {
        h1 {
          font-size: $header-2;
        }
        h2 {
          font-size: $content-2;
        }
        .buttons {
          margin-top: 4%;
          a {
            font-size: $content-2;
          }
        }
      }
    }

    .sec-2 {
      .content {
        .desc {
          p {
            font-size: $content-2;
          }
        }
        .features {
          .block-1,
          .block-2,
          .block-3,
          .block-4,
          .block-5,
          .block-6,
          .block-7 {
            p {
              font-size: $content-2;
            }
          }
        }
      }
    }
    .sec-3 {
      .image-box {
        img {
          margin-bottom: -90%;
        }
        .image-desc {
          .desc,
          .ticker,
          .total,
          .net {
            p {
              font-size: $content-2;
            }
          }
        }
      }
      .desc-box {
        padding-left: 15%;
        .desc {
          p {
            font-size: $content-2;
          }
        }
      }
      .roadmap {
        height: 90vw;
        img {
          width: 80vw;
          height: 80vw;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .my-container {
    margin-left: 15%;
    margin-right: 15%;
  }
  .nav-bar {
    height: 12vw;
    .content {
      .logo {
        padding-top: 1.5vw;
        padding-bottom: 3vw;
      }
      .icon {
        padding-top: 1.5vw;
        padding-bottom: 3vw;
      }
      .menu-list {
        .theme {
          svg {
            transform: rotateZ(320deg);
            position: relative;
            top: 10vw;
            left: 1vw;
            width: 8vw;
            height: 8vw;
            cursor: pointer;
          }
        }
      }
    }
  }
  main {
    margin-top: 0;
    .sec-1 {
      height: 150vw;
      background-color: $color-2;
      .bg {
        display: none;
      }
      .content {
        padding-top: 20%;
        h1 {
          font-size: $header-3;
        }
        h2 {
          font-size: $content-3;
          line-height: 4vw;
        }
        .img-box {
          margin-top: 10%;
          img {
            position: relative;
            left: 10vw;
            height: 60vw;
            width: 50vw;
          }
        }
        .buttons {
          margin-top: 15%;
          margin-left: 18%;
          a {
            font-size: $content-3;
          }
        }
      }
    }

    .staking-app {
      margin-top: 20%;
      margin-left: auto;
      margin-right: auto;
      width: 70vw;
      box-shadow: 0vw 0.5vw 1vw #9d63d8;
      padding: 4vw 4vw;
      border-radius: 2vw;
      background-color: $color-2;

      h1 {
        text-align: center;
        font-weight: bold;
        font-size: 4vw;
        color: white;
      }
      .content {
        margin-top: 5%;
        img {
          height: 30vw;
          width: 40vw;
          margin-left: 13%;
        }
        video {
          margin-left: 13%;
          width: 40vw;
          height: 30vw;
        }
        .vid-box {
          margin-top: 15%;
        }
        .image-box {
          margin-top: 5%;
        }
      }
    }

    .sec-2 {
      height: 750vw;
      .content {
        .image-box {
          margin-left: 12%;
          img {
            height: 60vw;
            width: 50vw;
            transition: all 0.3s ease-in-out;
            &:hover {
              height: 60vw;
              width: 50vw;
            }
          }
        }
        .desc {
          margin-top: 10%;
          h1 {
            font-size: $header-3;
          }
          p {
            font-size: $content-3;
          }
        }
        .features {
          margin-top: 10%;

          h1 {
            font-size: $header-3;
          }
          .block-1,
          .block-2,
          .block-3,
          .block-4,
          .block-5,
          .block-6,
          .block-7 {
            padding: 4vw 4vw;

            width: 50vw;
            margin-left: auto;
            margin-right: auto;
            h1 {
              font-size: 2.5vw;
            }
            p {
              font-size: 2vw;
            }
          }
          .block-7 {
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
    .sec-3 {
      height: 380vw;

      h1 {
        font-size: $header-3;
      }
      .image-box {
        img {
          left: -15vw;
          position: relative;
          height: 100vw;
          width: 100vw;
          margin-bottom: -70%;
        }
        .image-desc {
          .desc,
          .ticker,
          .total,
          .net {
            p {
              font-size: $content-3;
            }
          }
        }
      }
      .desc-box {
        margin-top: 20%;

        padding-left: 0;
        .desc {
          width: 60vw;

          p {
            font-size: $content-3;
          }
        }
      }
      .roadmap {
        height: 100vw;
        img {
          margin-left: 0;
          margin-right: 0;
          position: relative;
          right: 10vw;
          width: 90vw;
          height: 90vw;
        }
      }
    }
  }
}
